.clearfix:after {
    display: table;
    content: '';
    clear: both;
}

body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    color: #EEE;
}

p {
    margin: 0;
}

p + p {
    margin-top: 1em;
}

html, body {
	height: 100%;
	margin-bottom: 1px;
}
img {
	border-width:0;
	border-color:transparent;
    max-width: 100%;
    height: auto;
}
ins {
	text-decoration:none;
}


h1, h2, h3, h4, h5, h6 {
    padding: .5em;
    margin: 0;
}

h1 {
    color: #5A5A5A;
}

h1 small {
    font-weight: normal;
    font-size: 75%;
    color: #999;  
}

h2 > a,
h2 > a:hover {
    color: inherit;
}

.elgg-gallery {
    margin: 0;
    padding: 0;
}

.elgg-gallery-showcase {
    margin: 0 1em;
}

.elgg-gallery-showcase > li {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #EEE;
    margin: -1px 0 0 -1px;
    padding: .5em;
}

.elgg-showcase-item {
    text-align: center;
    position: relative;
    overflow: hidden;
}

.elgg-showcase-title {
    padding: 0;
}

.elgg-showcase-info {
    background: #333;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    height: 100%;
    left: 0;
    padding: 1em;
    position: absolute;
    right: 0;
    top: 100%;
    transition: top .3s ease 0;
    vertical-align: middle;
}

.elgg-showcase-item:hover .elgg-showcase-info {
    top: 0;
}